html,
body {
  font-size: 22px;
  font-weight: 300;
}

nav ol,
.other-nav {
  font-size: 16px;
}
.other-nav {
  margin-top: 30px;
}
.other-nav a {
  display: inline-block;
  padding: 3px 0;
}
nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  display: none;
  /*z-index: -1;
  opacity: 0;*/
  height: 50px;
  background-color: rgba(255, 255, 255, .9);
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
}
.scrolling nav {
  display: block;
  /*opacity: 1;
  z-index: 1;*/
}
nav .dropdown {
  float: left;
  margin: 12px 10px 0 0;
}
nav .dropdown-menu {
  border-color: transparent;
  box-shadow: none;
  background-color: #fff;
  background-color: rgba(255, 255, 255, .9);
}
nav h2 {
  float: left;
}
@media (min-width: 768px) {
  nav .dropdown {
    margin-left: -30px;
  }
}

h1,
h2,
.details h3 {
  position: relative;
  margin: 0;
  line-height: normal;
  font-family: 'Raleway', sans-serif;
}
h1,
h2 {
  z-index: 3;
}
h2 {
  padding: 10px 0 0;
}
section.active h2 {
  visibility: hidden;
}
.details h3 {
  display: block;
  margin-bottom: -.7em;
  font-size: 24px;
}
.details img {
  width: auto;
  height: auto;
  max-height: 250px;
}

section,
.lander {
  padding: 0 0 100px;
}
.lander {
  padding-top: 50px;
}
.lander .details {
  white-space: pre-line;
}

.details div {
  font-size: 18px;
  font-family: helvetica, sans-serif;
  font-weight: 100;
  white-space: pre-line;
}
img {
  margin: 0 auto -2em;
}
img + span {
  display: none;
  font-weight: 200;
  color: #aaa;
  text-align: center;
}
