html,
body {
  font-size: 22px;
  font-weight: 300;
}

.nav {
  position: fixed;
  left: 50px;
  z-index: 20;
  font-size: 16px;
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
}
.nav .dropdown-toggle {
  opacity: 0;
  font-size: 30px;
}
.nav .dropdown-menu {
  border-color: transparent;
  box-shadow: none;
  background-color: #fff;
  background-color: rgba(255, 255, 255, .9);
}
.scrolling .nav {
  left: 10px;
  top: 5px;
}
.scrolling .nav .dropdown-toggle {
  opacity: 1;
  -webkit-transition: opacity .2s linear;
     -moz-transition: opacity .2s linear;
          transition: opacity .2s linear;
}
.scrolling .nav .dropdown-menu {
  border: 1px solid #ccc;
}

h1,
h2,
.details h3 {
  position: relative;
  margin: 0;
  line-height: normal;
  font-family: 'Raleway', sans-serif;
}
h1,
h2 {
  z-index: 3;
}
h2 {
  padding: 10px 0 0;
}
.active h2 {
  position: fixed;
  top: 0;
  z-index: 2;
}
.details h3 {
  display: block;
  margin-bottom: -.7em;
  font-size: 24px;
}

.affix-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  display: none;
  height: 50px;
  background-color: rgba(255, 255, 255, .9);
}
.scrolling .affix-container {
  display: block;
}
section:not(.active) .affix {
  display: none;
}
section img {
  display: none;
}

.lander {
  padding: 50px 0;
}
section {
  margin: 50px 0 100px;
}

.end-point,
.break-point {
  position: absolute;
  width: 20px;
  border-bottom: 1px solid blue;
  height: 1px;
}
.end-point {
  border-color: red;
}

.lander .details {
  white-space: pre-line;
}

.title > div {
  overflow: hidden;
  text-align: center;
}
.details div {
  font-size: 18px;
  font-family: helvetica, sans-serif;
  font-weight: 100;
  white-space: pre-line;
}
img {
  width: 200%;
  margin: -188px 0 -360px -50%;
}
img + span {
  display: block;
  font-weight: 200;
  color: #aaa;
}
