---
---
{% include htmlStart.html %}
{% include header.html %}

<div class="content">
  <div class="container">
    {% include sections/what-is-it.html %}
    {% include sections/history-of-use.html %}
    {% include sections/creation.html %}
    {% include sections/regulation.html %}
    {% include sections/uses.html %}
    {% include sections/verification.html %}
    {% include sections/how-to-get-it.html %}
    {% include sections/fees.html %}
    {% include sections/current-value.html %}
    {% include sections/market-value.html %}
    {% include sections/investing.html %}
    {% include sections/risks.html %}
    {% include sections/loss.html %}
    {% include sections/owners.html %}
    {% include sections/advantages.html %}
    {% include sections/disadvantages.html %}
  </div>
</div>

{% include sources.html %}
{% include footer.html %}
{% include htmlEnd.html %}
