<section>
  <div class="row">
    <div class="col-sm-12 title">
      <h2><a target="_self" id="advantages" href="#advantages">Advantages</a></h2>
    </div>
  </div>
  <div class="row details">
    <div class="col-sm-4">
      <div class="currency">USD<i style="background-image: url(images/chain/dollar.png)"></i></div>
      <h3>Is a hard currency</h3>
      The dollar is a hard currency (also called safe-haven or strong currency) which is one used globally and seen as a stable source of value. The dollar has maintained its hard currency status for most of its history.

      <h3>Is the world's top reserve currency</h3>
      The dollar makes up 66% of the world's central bank foreign currency reserves, which reinforces its strength.

      <h3>Is regulated by a governing body</h3>
      Measures put in place by the Federal Reserve stimulate consumer spending, which in turn strengthens the economy and dollar value.
    </div>
    <div class="col-sm-4">
      <div class="currency">Gold<i style="background-image: url(images/chain/gold.png)"></i></div>
      <h3>Is physical</h3>
      A government can’t recklessly create new gold at will, which is a main cause of inflation.

      <h3>Is driven by global market forces</h3>
      Because no government agency is responsible for gold's value, it is not susceptible to perceived value loss due to political activities like war.

      <h3>Has long term price stability</h3>
      Gold has a history of maintaining its value over the long term.

      <h3>Is useful for risk diversification</h3>
      People buy gold in addition to their other investments to vary their market exposure. In a period of slow economic growth, gold’s value tends to rise.
    </div>
    <div class="col-sm-4">
      <div class="currency">Bitcoin<i style="background-image: url(images/chain/bitcoin.png)"></i></div>
      <h3>Is decentralized and trust-less</h3>
      Because the computational power needed to secure the system is provided by independent miners, there is no need for the infrastructure of a single company or other body to maintain it. This is why bitcoin is described as a "decentralized" currency. The fact that you don't have to trust any one person, miner, or computer in the network means that it is "trust-less".

      <h3>Is secure</h3>
      Because many computers in the system are required to verify transactions, it is difficult to fraud the system.

      <h3>Low fees and fast transactions</h3>
      The average transaction fee is .0001 bitcoins, or about 3¢, to send money to anyone, anywhere. Transactions take about 10 minutes to be verified by the network. This is cheaper and faster than using a traditional bank, who might charge a fee of $10 and take a week to clear.

      <h3>Obscures identities</h3>
      Even though all transactions are public, the only identifiable information attached to each transaction are the wallet addresses of the sender and receiver. Names and addresses are obscured.
    </div>
  </div>
</section>
