<section>
  <div class="row">
    <div class="col-sm-12 title">
      <h2><a target="_self" id="creation" href="#creation" data-text="Creation">How is it made?</a></h2>
    </div>
  </div>
  <div class="row details">
    <div class="col-sm-4">
      <div class="currency">USD<i style="background-image: url(images/creation/dollar.png)"></i></div>
      <h3>Ordered by the Federal Reserve, minted by the US Treasury</h3>
      To meet public's need of cash at ATMs and banks, the Federal Reserve puts up collateral in the form of its assets (gold certificates and government IOUs) and orders the US Treasury to mint new bills and coins. The new money is then given to Federal Reserve Banks.

      Commercial banks get new money from a Federal Reserve Bank in their district and pay for it by drawing down their reserve accounts.

      There is currently $1.34 trillion in circulation.
    </div>
    <div class="col-sm-4">
      <div class="currency">Gold<i style="background-image: url(images/creation/gold.png)"></i></div>
      <h3><a href="http://www.goldfacts.org/en/faqs/#q_how_is_gold_extracted_from_ore_obtained_by_mining">Extracted from rocks</a></h3>
      Most gold is produced through <a href="http://en.wikipedia.org/wiki/Underground_mining_(hard_rock)">hard rock mining</a> where the earth is dug, crushed, and the gold separated through treatments with cyanide and <a href="http://en.wikipedia.org/wiki/Electrolysis">electrical current</a>.

      <h3>Panned from streams</h3>
      Panning (also known as <a href="http://en.wikipedia.org/wiki/Placer_mining">placer mining</a>) is used where gold has collected in stream beds. Miners find the gold by hand or through machine sluicing and dredging.

      <a href="http://www.goldfacts.org/en/faqs/#q_how_much_gold_in_total_has_been_mined_throughout_history">Around 166,600 tons have been mined</a>, with <a href="http://www.bbc.com/news/magazine-21969100">52,000 tons still in the Earth</a>.
    </div>
    <div class="col-sm-4">
      <div class="currency">Bitcoin<i style="background-image: url(images/creation/bitcoin.png)"></i></div>
      <h3><a href="http://www.bitcoinmining.com/">Awarded through solving math problems</a></h3>
      Bitcoin miners are people who have downloaded bitcoin's free ledger software onto their computer and then compete to find solutions to cryptographic math problems which <a href="https://bitcoin.org/en/developer-reference#term-coinbase-tx">rewards them with bitcoins</a>. The process secures the system by verifying transactions and forms the "blockchain" which is the linear, permanent, irreversible ledger to which all participants are synced.

      Anyone with the right hardware and software can be a miner and all transactions are publicly recorded and visible at blockchain.info.

      The designers of bitcoin have programmed a finite amount of the coin (<a href="http://chimera.labs.oreilly.com/books/1234000001802/ch01.html#_what_is_bitcoin">21 million in total</a>) to be awarded to <a href="http://www.wired.com/2011/11/mf_bitcoin/">prevent devaluation due to excessive supply</a>.

      Over <a href="https://blockchain.info/charts/total-bitcoins">14 million</a> Bitcoins have been mined.
    </div>
  </div>
</section>
