<section>
  <div class="row">
    <div class="col-sm-12 title">
      <h2><a target="_self" id="current-value" href="#current-value">Current value</a></h2>
    </div>
  </div>
  <div class="row details">
    <div class="col-sm-4">
      <div class="image"><span>USD</span><img src="/images/derived/dollar.png"></div>
      <table class="table">
        <tbody>
          <tr>
            <th>Pounds Sterling</th>
            <td>£1</td>
            <td>=</td>
            <td>$1.54</td>
          </tr>
          <tr>
            <th>Euros</th>
            <td>€1</td>
            <td>=</td>
            <td>$1.12</td>
          </tr>
          <tr>
            <th>Japanese Yen</th>
            <td>¥1</td>
            <td>=</td>
            <td>$0.0084</td>
          </tr>
          <tr>
            <th>Chinese Yuan</th>
            <td>¥1</td>
            <td>=</td>
            <td>$0.16</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-4">
      <div class="image"><span>Gold</span><img src="/images/derived/gold.png"></div>
      <table class="table">
        <tbody>
          <tr>
            <th>Dollars</th>
            <td>1 Troy Ounce</td>
            <td>=</td>
            <td>$1,213.17</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-4">
      <div class="image"><span>Bitcoin</span><img src="/images/derived/bitcoin.png"></div>
      <table class="table">
        <tbody>
          <tr>
            <th>Dollars</th>
            <td>฿1</td>
            <td>=</td>
            <td>$249.05</td>
          </tr>
          <tr>
            <th>Electricity</th>
            <td>฿1</td>
            <td>=</td>
            <td><a href="http://www.coindesk.com/microscope-economic-environmental-costs-bitcoin-mining/">$597.23 (June 2014)</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
