<section>
  <div class="row">
    <div class="col-sm-12 title">
      <h2><a target="_self" id="disadvantages" href="#disadvantages">Disadvantages</a></h2>
    </div>
  </div>
  <div class="row details">
    <div class="col-sm-4">
      <div class="image"><span>USD</span><img src="/images/disadvantages/dollar.png"></div>
      <h3>Is regulated by the government</h3>
      This is both an advantage and a disadvantage. Regulations (or lack thereof) can have a negative impact, such as what led to the 2008 mortgage crisis. Because monetary policy is decided by the Federal Reserve, who itself is comprised of private banks, it is possible that some of the policies are biased towards strengthening banks' profits.

      <h3>Has slow electronic transfers and inconsistent networks</h3>
      Banks have a slow system for clearing electronic transfers. They currently use a single body called an Automated Clearing House (ACH), which takes days to process transactions.

      <h3>Is often counterfeited</h3>
      The dollar's strength makes it <a href="http://www.treasury.gov/press-center/press-releases/Pages/hp154.aspx">heavily counterfeited</a>.
    </div>
    <div class="col-sm-4">
      <div class="image"><span>Gold</span><img src="/images/disadvantages/gold.png"></div>
      <h3>Is physical</h3>
      Gold is inconvenient to store and expensive to protect from theft, <a href="http://www.bloomberg.com/consumer-spending/2012-05-30/the-real-cost-of-owning-gold.html#slide4">requiring owners to spend up to 1 percent</a> of the gold's value per year on storage and insurance.

      <h3>Can be counterfeited</h3>
      Thieves counterfeit gold by using a less valuable yet same weight material as a base and gold plating it.

      <h3>Has price instability</h3>
      In the short term, gold's price fluctuates based on day to day market activity.
    </div>
    <div class="col-sm-4">
      <div class="image"><span>Bitcoin</span><img src="/images/disadvantages/bitcoin.png"></div>
      <h3>Is volatile</h3>
      The price of bitcoin fluctuates by the second, with exchanges never closing.

      <h3><a href="http://99bitcoins.com/bitcoin-mining-profitable-beginners-explanation/">Is expensive to mine</a></h3>
      The system hinges on independent miners verifying the system but requires a great deal of electricity to do so. This makes mining costly in places without cheap electricity.

      <h3>The IRS treats it as a commodity</h3>
      Current regulations treat bitcoin as a commodity –not a currency– which makes using it for daily transactions more complicated for the owner's taxes. It is also subject to short term capital gains tax which further discourages use as a currency.

      <h3>Chargebacks are impossible</h3>
      All bitcoin transactions are irreversible, making chargebacks impossible for people who have made a mistake or engaged in a transaction with someone untrustworthy.

      <h3>Its long-term viability is unknown</h3>
      Bitcoin is only 6 years old and while modeled on gold, it is still a new form of currency. Some economists feel that in the long term bitcoin's fixed quantity will cause a <a href="https://en.bitcoin.it/wiki/Deflationary_spiral">deflationary spiral</a> (massive price increase due to fixed supply) that will undermine the currency.
    </div>
  </div>
</section>
