<section>
  <div class="row">
    <div class="col-sm-12 title">
      <h2><a target="_self" id="fees" href="#fees">Fees and costs</a></h2>
    </div>
  </div>
  <div class="row details">
    <div class="col-sm-4">
      <div class="currency">USD<i style="background-image: url(images/fees/dollar.png)"></i></div>
      <h3>Taxes</h3>
      The US Government charges taxes on earnings via the Internal Revenue Service. This includes earnings from normal pay, bank interest and stock market gains.

      <h3>Bank fees</h3>
      There are numerous fees charged to consumers by banks, including:
      - Monthly or annual service fee
      - Membership fees
      - Minimum balance fee
      - Foreign exchange fee
      - Foreign transaction fee
      - Penalties on overdrafts
      - Drawing from a savings account too often
      - Lost card fee
      - Paper statement fee
      - ATM fee
      - Human teller fee
      - Early account closure fee
      - Returned deposit fee (getting a bad check)

      <h3>Credit card fees</h3>
      Consumers pay interest on a carried balance, and fees for late payments. Some credit cards also change an annual membership fee.

      Vendors pay a fee per credit card transaction, usually between 2 and 3 percent. Vendors typically pass transaction costs to their customers by raising their prices.
    </div>
    <div class="col-sm-4">
      <div class="currency">Gold<i style="background-image: url(images/fees/gold.png)"></i></div>
      <h3>Fees for holding and exchanging gold</h3>
      - Paying a dealer premium beyond the cost of gold
      - Shipping fee
      - Assaying (testing for purity)
      - Vault storage fees
      - Insurance for gold kept in a safe deposit box
      - Insurance for home storage
      - Taxes on capital gains

      <h3>Commissions on gold ETFs</h3>
      An ETF (Exchange Traded Fund) is an investment traded on the market like a stock. Fees include:
      - Commissions on buying selling
      - Expense ratio fee (a recurring annual fee to cover its management)
    </div>
    <div class="col-sm-4">
      <div class="currency">Bitcoin<i style="background-image: url(images/fees/bitcoin.png)"></i></div>
      <h3>Commission fees</h3>
      Commission fees are paid to exchanges when converting fiat money to bitcoin. Coinbase, the largest exchange, charges 1% of the transaction.

      <h3>Bank fees</h3>
      Bank fees are paid to the bank transferring dollars to the bitcoin exchange. The fee is usually 15¢.

      <h3>Miner fees</h3>
      Miner fees are optional but are an incentive to speed up the transaction verification process (the inclusion into the blockchain). People opting out of paying a miner fee will see their transaction clearing in a significantly longer time (in a test it took 12 hours paying no fee versus 10 minutes with a fee).

      Fees are related to the technical transaction size, not the monetary size. The more the system must work to patch together parts of original bitcoins to create the total, the greater the transaction size. It is possible for a $250 transaction to have a lower fee than a $19.95 transaction.

      <h3>Fees are paid by the spender, not the vendor</h3>
      Unlike in PayPal or credit card processing, the person buying pays the fees on the transaction. This makes it an attractive option for vendors.

      A randomly picked <a href="https://blockchain.info/tx/bc507795e86f2be8ccfa605f2d944b6525f5ac5710f72b7c4700523c0be7290e">transaction</a> from blockchain.info totaling 0.34522894 bitcoin ($123.19) had a fee paid by the person buying of .0001 bitcoin (4¢). The same transaction made through PayPal would cost the vendor $4.46.

      Another <a href="https://blockchain.info/tx/9eeebd86443b9316dfbf881103bdc8b7c8e045fdb5cf90a20e9e4788f620ba65">transaction</a> shows the same miner fee of .0001 Bitcoin (4¢) on a 37.9362385 bitcoin purchase ($13,543.62). Made through PayPal that same transaction would cost the vendor $474.18.

      While the vendors do not pay a fee per transaction, they will pay a commission fee when they exchange their earned bitcoins for dollars (1%).
    </div>
  </div>
</section>
