<section>
  <div class="row">
    <div class="col-sm-12 title">
      <h2><a target="_self" id="history" href="#history" data-text="History">History of Use</a></h2>
    </div>
  </div>
  <div class="row details">
    <div class="col-sm-4">
      <div class="image"><span>USD</span><img src="/images/history/dollar.png"></div>
      <h3>Since 1785</h3>
      The original US financial system was constructed by Alexander Hamilton and had bills called <a href="http://en.wikipedia.org/wiki/Early_American_currency#Continental_currency">Continentals</a>. Continentals suffered a severe reduction in value during the Revolutionary War <a href="http://en.wikipedia.org/wiki/Hyperinflation#United_States">due to too many bills being printed</a>.

      Congress issued the replacement currency, the dollar, on <a href="http://en.wikipedia.org/wiki/History_of_the_United_States_dollar#Background">August 8, 1785</a>. To ensure faith in its value, this new currency was backed by silver and gold- meaning that each dollar matched an existing quantity of either metal.

      This worked until the discovery of a large natural silver deposit in the western US which caused a global silver devaluation. In 1900 Congress passed the Gold Standard Act which tied the dollar only to gold.

      During World War I, US companies that held debts to European companies made payments with gold. This transfer changed gold's global value and destabilized the exchange rate of the dollar, which led to the country <a href="http://www.federalreservehistory.org/Events/DetailView/33">removing the gold standard</a>.
    </div>
    <div class="col-sm-4">
      <div class="image"><span>Gold</span><img src="/images/history/gold.png"></div>
      <h3>Since the Bronze Age</h3>
      The Bronze Age (3300-1200BC) marks man's first use of bronze and other metals <a href="http://www.ancient.eu/gold/">including gold</a>. Gold's beauty made it a valuable metal used in trading. Gold coins were first used in Persia in the <a href="http://taxfreegold.co.uk/goldcoinsbriefhistory.html">7th century B.C.</a>

      While today gold no longer backs any national currency, it remains a commodity traded on the market with a <a href="http://www.xe.com/currencyconverter/convert/?From=XAU&To=USD">shifting price</a> due to market fluctuations. It tends to perform well <a href="http://www.moneycrashers.com/buying-gold-good-investment/">when confidence in a fiat currency drops</a>.
    </div>
    <div class="col-sm-4">
      <div class="image"><span>Bitcoin</span><img src="/images/history/bitcoin.png"></div>
      <h3>Since 2008</h3>
      Digital currencies have been tried <a href="http://en.wikipedia.org/wiki/List_of_digital_currencies#Non-cryptocurrencies">a few times</a> since the spread of the internet in the 1990s. eCash, founded in 1989, <a href="http://www.wired.com/2011/11/mf_bitcoin/4/">failed due to reliance on government network infrastructure</a> and a <a href="http://news.cnet.com/2100-1001-215150.html">lack of merchant acceptance</a>. The majority of businesses and consumers <a href="http://www.forbes.com/forbes/1999/1101/6411390a.html">favored using credit cards</a>.

      Bitcoin was invented in the wake of the 2008 US financial crisis by a person or group under the pseudonym <a href="https://en.bitcoin.it/wiki/Satoshi_Nakamoto">Satoshi Nakamoto</a>. It was introduced as open source software in 2009 and was the first fully implemented cryptocurrency. Its infrastructure makes it possible to conduct financial transactions without banks.

      Transaction volume in bitcoin <a href="https://www.coinbase.com/charts">began growing in 2013</a>, with mainstream businesses and websites accepting it as payment.
    </div>
  </div>
</section>
