<section>
  <div class="row">
    <div class="col-sm-12 title">
      <h2><a target="_self" id="how-to-get-it" href="#how-to-get-it">How to get it</a></h2>
    </div>
  </div>
  <div class="row details">
    <div class="col-sm-4">
      <div class="currency">USD<i style="background-image: url(/images/exchanges/dollar.png)"></i></div>
      <h3>By paycheck</h3>
      US dollars can be obtained by working for an American company.

      <h3>Through banks</h3>
      Banks exchange dollars for other currencies during business hours.

      <h3>Through a sale</h3>
      Dollars can be obtained by selling an item to someone paying with dollars.

      <h3>Through an exchange</h3>
      Financial products based on the dollar (such as stocks, mutual funds, hedge funds, index funds and ETFs) can be obtained through exchanges like the New York Stock Exchange (NYSE) &amp; NASDAQ.
    </div>
    <div class="col-sm-4">
      <div class="currency">Gold<i style="background-image: url(/images/exchanges/gold.png)"></i></div>
      <h3>Through an exchange</h3>
      The main center for transactions, the LBMA in London trades around the clock, with the price for gold set at 10:30am and 3pm GMT. There are also exchanges in New York, Denver, Sydney, Hong Kong, Shanghai and Zurich Switzerland.

      <h3>At a jewelry store</h3>
      The majority of the people that own gold have it in the form of jewelry.
    </div>
    <div class="col-sm-4">
      <div class="currency">Bitcoin<i style="background-image: url(/images/exchanges/bitcoin.png)"></i></div>
      <h3>Through an exchange</h3>
      Bitcoins are bought and sold through online exchanges. Unlike American stock exchanges, they do not close there is no daily closing price for the price of bitcoin. Coinbase is currently the largest exchange.

      <h3><a href="http://www.coindesk.com/bitcoin-atm-map/">Bitcoin ATM</a></h3>
      There are a growing number of bitcoin ATMs that convert cash to bitcoin.

      <h3>Other bitcoin users</h3>
      People can trade bitcoins for cash without using an exchange through <a href="https://localbitcoins.com/">meeting up with people locally</a> and obtaining the coin's private key on a piece of paper.
    </div>
  </div>
</section>
