<section>
  <div class="row">
    <div class="col-sm-12 title">
      <h2><a target="_self" id="investing" href="#investing">Investing</a></h2>
    </div>
  </div>
  <div class="row details">
    <div class="col-sm-4">
      <div class="currency">USD<i style="background-image: url(images/invest/dollar.png)"></i></div>
      <h3><a href="http://www.investopedia.com/terms/s/savingsaccount.asp">Bank savings account</a></h3>
      A savings account with a bank allows a customer to save money with interest returned. The interest is typically very low- under 1% but the money is insured by the FDIC and is available for immediate withdrawal.

      <h3><a href="http://www.investopedia.com/terms/c/certificateofdeposit.asp">CDs (Certificates of Deposit)</a></h3>
      Similar to a savings account, a CD is insured and has a fixed interest rate slightly higher than a savings account. It differs in that the money must stay in the account for a fixed amount of time.

      <h3><a href="http://www.investopedia.com/terms/m/moneymarketaccount.asp">Money Market Account</a></h3>
      MMAs are similar to a savings account but allow for the ability to withdraw from the account if a minimum balance is met.

      <h3><a href="http://www.investopedia.com/terms/s/stockmarket.asp">Stock market</a></h3>
      The stock market is a place to buy and sell ownership shares of companies. Return rates average 7% over the long run across the entire market but are not guaranteed.

      <h3><a href="http://www.investopedia.com/terms/m/mutualfund.asp">Mutual fund</a></h3>
      Mutual funds are a professionally managed product that allows the investment in a group of stocks. Investors use this so they don't have to monitor and manage a collection of stocks themselves.

      <h3><a href="http://www.investopedia.com/terms/i/indexfund.asp">Index fund</a></h3>
      An Index fund combines a similar group of stocks into one fund that is managed by a computer instead of a person, lowering fees. The index model uses statistics to decide which stocks are included and are grouped by market sectors (such as NASDAQ).

      <h3><a href="http://www.investopedia.com/terms/e/etf.asp">ETFs (Exchange Traded Funds)</a></h3>
      Traded on stock exchanges, ETFs are comprised of a collection of stocks, commodities or bonds that act similar to an index fund but require less selling of its components and therefore have lower fees.

      <h3><a href="http://www.investopedia.com/terms/h/hedgefund.asp">Hedge funds</a></h3>
      These are funds that are not available publicly and use risky short term investment methods to maximize profit for their investors. They are typically only used by high-net-worth individuals and are structured to avoid government regulation.
    </div>
    <div class="col-sm-4">
      <div class="currency">Gold<i style="background-image: url(images/invest/gold.png)"></i></div>
      People tend to invest in gold more during periods of economic weakness. Its day-to-day price volatility make it appealing to those wanting to profit off of its fluctuations.

      <h3><a href="http://www.investopedia.com/terms/b/bullion.asp">Bullion</a></h3>
      Bulk gold in the form of bars and coins. The word comes from the French word for 'boiling' (bouillon) which was the historic term for melting houses.

      <h3><a href="http://www.investopedia.com/terms/b/bullion-coins.asp">Coins</a></h3>
      Similar to bullion bars, gold coins are a store of value and not meant for use as currency. Their small size makes them easier to store and distribute.

      <h3><a href="https://www.bullionvault.com/guide/gold/Gold-etf">Gold ETFs</a></h3>
      These funds are traded on the stock market like stock ETFs and allow an investor to have exposure to the price of gold without needing to manage storage and other fees. Investors are able to sell their shares to other investors or back to the ETF.

      <h3><a href="http://www.investopedia.com/terms/g/goldcertificate.asp">Gold certificates</a></h3>
      Offered by banks, allocated certificates represent an ownership to an actual amount of gold without the owner needing to store or insure it. Unallocated certificates are a form of fractional reserve banking (selling ownership without having the gold on hand) and do not assure an equal exchange in the event of many people exchanging at the same time (called a run).

      <h3><a href="https://www.bullionvault.com/guide/gold/Gold-futures">Gold derivatives</a></h3>
      Derivatives are contracts that derive their value from the fluctuating price of gold and include forwards, options and futures. They are used to hedge against loss by investing in a contrary position.

      <h3><a href="http://www.infomine.com/investment/gold/">Stock in mining companies</a></h3>
      Rather than invest in gold itself, an investor can buy shares of a publicly traded mining company. As the gold price rises, so does the profit of the mining company which equates to an increase in stock price.
    </div>
    <div class="col-sm-4">
      <div class="currency">Bitcoin<i style="background-image: url(images/invest/bitcoin.png)"></i></div>
      Because it is traded on a market and has a constantly changing price, bitcoin has attracted investors and companies offering financial products similar to gold.

      <h3><a href="http://howtobuybitcoins.info">Buying and exchanging bitcoins</a></h3>
      Bitcoin's price is volatile and can fluctuate up to $50 a day, making it a profitable investment. Tax wise it is treated similar to the stock market with short term capital gains tax applied to exchanges made under a year.

      <h3><a href="http://www.investopedia.com/articles/investing/041114/why-winklevoss-twins-new-bitcoin-etf-matters.asp">Bitcoin ETF</a> (proposed)</h3>
      There have been several bitcoin ETFs that have filed for SEC approval, all of which are pending. The ETF will allow people to invest in bitcoin without needing to buy, store or safekeep it.

      <h3><a href="https://www.okcoin.com/">Bitcoin derivatives</a></h3>
      As with other commodities with fluctuating daily prices, companies are creating financial products like futures that get their value from price volatility.
    </div>
  </div>
</section>
