<section>
  <div class="row">
    <div class="col-sm-12 title">
      <h2><a target="_self" id="loss" href="#loss">Loss</a></h2>
    </div>
  </div>
  <div class="row details">
    <div class="col-sm-4">
      <div class="currency">USD<i style="background-image: url(images/destruction/dollar.png)"></i></div>
      <h3><a href="https://answers.yahoo.com/question/index?qid=20111023203343AA5YUlL">Old notes and coins are destroyed</a></h3>
      Notes in poor condition are collected by banks, sent to their district Federal Reserve Bank and shredded (about 7,000 tons per year). Worn coins are collected and then used in the minting of new coins.
    </div>
    <div class="col-sm-4">
      <div class="currency">Gold<i style="background-image: url(images/destruction/gold.png)"></i></div>
      <h3>Loss to technological uses</h3>
      Gold used in technologies like cell phones is in such small quantities that it does not get recycled and is lost when the technology is discarded.
    </div>
    <div class="col-sm-4">
      <div class="currency">Bitcoin<i style="background-image: url(images/destruction/bitcoin.png)"></i></div>
      <h3><a href="http://readwrite.com/2014/01/13/what-happens-to-lost-bitcoins">Lost bitcoins</a></h3>
      Public and private keys of a bitcoin are needed to complete a transaction and if those keys are lost through hard drive destruction, the bitcoin is unusable and permanently out of circulation.
    </div>
  </div>
</section>
