<section>
  <div class="row">
    <div class="col-sm-12 title">
      <h2><a target="_self" id="market-value" href="#market-value" data-text="Market value">Drivers of market value</a></h2>
    </div>
  </div>
  <div class="row details">
    <div class="col-sm-4">
      <div class="currency">USD<i style="background-image: url(images/value/dollar.png)"></i></div>
      <h3>Supply & demand</h3>
      Exporting products and services creates demand for the US dollar because foreign customers need to pay using it. Foreign purchases of US stocks need to be bought in dollars as well. More demand equals greater value.

      <h3>Psychology & sentiment</h3>
      When consumers stop spending due to unemployment, the economy weakens and pessimism spreads to foreigners who sell their US-backed bonds and stocks back to their local currency.

      <h3>Economic measurements</h3>
      The Federal Reserve <a href="http://www.federalreserve.gov/monetarypolicy/mpr_default.htm">publishes reports</a> and uses them to direct monetary policy that controls the dollar's value. Reports include data on US employment, consumer finances and industrial production.
    </div>
    <div class="col-sm-4">
      <div class="currency">Gold<i style="background-image: url(images/value/gold.png)"></i></div>
      <h3>Supply & demand</h3>
      Gold is traded on a market and is thus influenced by trading volume and supply & demand.

      <h3>Psychology & sentiment</h3>
      The price of gold often has an inverse correlation with the dollar and the stock market as a whole. When the economy is perceived to be weaker, gold is seen as a more reliable store of value.

      <h3>Commodity value</h3>
      Gold's use in products like jewelry and technology make it reactive to consumer demand, which is influenced by larger economic factors like unemployment. People buy less gold when they are unemployed.
    </div>
    <div class="col-sm-4">
      <div class="currency">Bitcoin<i style="background-image: url(images/value/bitcoin.png)"></i></div>
      <h3>Supply & demand</h3>
      The price of bitcoin is influenced by market fluctuations which are caused by exchange activity. Using bitcoin as an investment (holding and exchanging coins in large quantities until a profit is made) increases price volatility. Using bitcoin as a currency promotes stability as it ensures a consistent small scale flow of money.

      <h3>Psychology & sentiment</h3>
      The main cause of value for any currency is the collective agreement that it has worth. A high bitcoin price gives the impression of stability whereas a period of loss weakens the faith in value.

      <h3>Business adoption</h3>
      Bitcoin being accepted by businesses for normal transactions creates the perception of worth. The ability to use it to buy lunch, pay bills, or buy a car strengthens collective belief.
    </div>
  </div>
</section>
