<section>
  <div class="row">
    <div class="col-sm-12 title">
      <h2><a target="_self" id="owners" href="#owners">Top owners</a></h2>
    </div>
  </div>
  <div class="row details">
    <div class="col-sm-4">
      <div class="image"><span>USD</span><img src="/images/most/dollar.png"></div>
      <h3><a href="http://en.wikipedia.org/wiki/The_World's_Billionaires">Top ten people</a></h3>
      1. Bill Gates $81.9 billion
      2. Carlos Slim $78.9 billion
      3. Warren Buffet $72.9 billion
      4. Amancio Ortega $62 billion
      5. Larry Ellison $52.9 billion
      6. Charles Koch $42.8 billion
      7. David Koch $42.8 billion
      8. Christy Walton & family $42.2 billion
      9. Jim Walton $41.2 billion
      10. Alice Walton $39.7 billion

      <h3><a href="http://en.wikipedia.org/wiki/List_of_public_corporations_by_market_capitalization">Top ten companies (public, by market cap)</a></h3>
      1. Apple $603 billion
      2. Exxon Mobil $401 billion
      3. Microsoft $382 billion
      4. Google $362 billion
      5. Berkshire Hathaway $340 billion
      6. Johnson & Johnson $301 billion
      7. Wells Fargo $271 billion
      8. General Electric $257 billion
      9. Novartis $255 billion
      10. Hoffmann-La Roche $255 billion

      <h3><a href="http://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29">Top ten countries</a></h3>
      1. United States $17.4 trillion 22.4%
      2. China $10.3 trillion 13.3%
      3. Japan $4.7 trillion 6.1%
      4. Germany $3.8 trillion 4.9%
      5. France $2.9 trillion 3.7%
      6. United Kingdom $2.8 trillion 3.7%
      7. Brazil $2.2 trillion 2.9%
      8. Italy $2.1 trillion 2.7%
      9. Russia $2 trillion 2.7%
      10. India $2 trillion 2.6%
    </div>
    <div class="col-sm-4">
      <div class="image"><span>Gold</span><img src="/images/most/gold.png"></div>
      <h3><a href="http://en.wikipedia.org/wiki/Gold_reserve">Top ten</a></h3>
      1. SPDR Gold Shares (ETF) 1,239 tons
      2. ETF Securities Gold Funds (ETF) 259.79 tons
      3. ZKB Physical Gold (ETF) 195.53 tons
      4. COMEX Gold Trust (ETF) 137.61 tons
      5. Julius Baer Physical Gold Fund (ETF) 93.50 tons
      6. Central Fund of Canada (CEF- closed ended fund) 52.71 tons
      7. NewGold ETF (ETF) 47.75 tons
      8. Sprott Physical Gold Trust (CEF) 32.27 tons
      9. ETFS Physical Swiss Gold Shares (ETF) 27.97 tons
      10. Bullionvault 37.1 tons

      <h3>Top countries</h3>
      1. USA : 8,133.50 tons
      2. Germany 3,384.20 tons
      3. International Monetary Fund 2,814.00 tons
      4. Italy 2.451.80 tons
      5. France 2,435.40 tons
      6. Russia 1,149.80 tons
      7. China 1,054.10 tons
      8. Switzerland 1,040.00 tons
      9. Japan 765.20 tons
      10. Netherlands 612.50 tons
    </div>
    <div class="col-sm-4">
      <div class="image"><span>Bitcoin</span><img src="/images/most/bitcoin.png"></div>
      <h3>Top holder</h3>
      Satoshi Nakamoto, Bitcoin's unidentified inventor who is thought to have mined 1 million Bitcoins during the currency's first year and is spread across many wallets.

      Cameron and Tyler Winklevoss have reported to own around 120,000 (around 1%).

      <h3>Top country</h3>
      The US government <a href="http://www.wired.com/2013/12/fbi_wallet/">gained ownership of the single largest Bitcoin wallet</a> on the internet with the FBI's confiscation of the assets of the illicit Silk Road website. It owns 174,000 Bitcoins.
    </div>
  </div>
</section>
