<section>
  <div class="row">
    <div class="col-sm-12 title">
      <h2><a target="_self" id="regulation" href="#regulation" data-text="Regulation">Who regulates it?</a></h2>
    </div>
  </div>
  <div class="row details">
    <div class="col-sm-4">
      <div class="currency">USD<i style="background-image: url(/images/regulates/dollar.png)"></i></div>
      <h3>The Federal Reserve</h3>
      The Fed was <a href="http://www.federalreserve.gov/faqs/about_12594.htm">created in 1913</a> in response to a period of dollar weakness. Its tasks are to ensure the strength and stability of the dollar, to serve as the central bank of the US, to regulate banks and to manage the nation's money supply.

      It is comprised of a <a href="http://www.federalreserve.gov/aboutthefed/directors/about.htm">board of directors</a> chosen by private banks and a <a href="http://www.federalreserve.gov/faqs/about_12591.htm">board of governors</a> selected by the US president, all of whom work together to make policy decisions. The current chairman is Janet Yellen.

      <a href="http://www.businessinsider.com/10-things-that-every-american-should-know-about-the-federal-reserve-2012-2">Critics see a conflict of interest in the system</a> which allows private banks to influence their own regulation, and point to the 2008 financial crisis, corporate bank bailouts and a continued policy of secrecy as concerns.
    </div>
    <div class="col-sm-4">
      <div class="currency">Gold<i style="background-image: url(/images/regulates/gold.png)"></i></div>
      <h3>The SEC (Securities And Exchange Commission) and the CFTC (Commodity Futures Trading Commission)</h3>
      Markets which sell gold financial products (like gold certificates) have oversight from these two agencies which work to ensure proper information is given to investors and traders so they can make sound decisions. The agencies also work to prevent fraud.

      The SEC was created in 1934 and the CFTC in 1974. They are both comprised of a group of 5 commissioners, with one selected by the president as chairman. The current SEC chairman is Mary Jo White and the current CFTC chairman is Timothy Massad.

      While the SEC and the CFTC work to monitor the gold market, they do not regulate the brokerage firms and exchanges involved; those are self-regulated by the organizations they join.
    </div>
    <div class="col-sm-4">
      <div class="currency">Bitcoin<i style="background-image: url(/images/regulates/bitcoin.png)"></i></div>
      <h3>No one</h3>
      Bitcoin was designed to have no one body running or regulating its system. Because the computational power needed to secure the system is aggregated from independent miners, there is no need for the infrastructure of a single party to maintain it. This is why bitcoin is described as a ‘decentralized’ currency.

      <h3>User majority</h3>
      While the software self regulates production of new coins, regulation of the entire system is based on user majority. Changes are difficult as they have to be approved by many users before they are implemented.

      <h3>Central banks and governments</h3>
      As a result of its increased use, the US government is examining ways to prevent misuse and fraud. In 2013 the <a href="http://www.gao.gov/about/">US GAO (Government Accountability Office)</a> <a href="http://www.gao.gov/assets/660/654620.pdf">called for oversight</a> for bitcoin and recommended the IRS create tax guidance around virtual currencies. The result was the IRS declaring <a href="http://www.irs.gov/uac/Newsroom/IRS-Virtual-Currency-Guidance">bitcoin to be treated as property</a>. Other regulations are still being formed.

      Abroad, regulation is in its infancy. Europe has <a href="http://www.coindesk.com/eba-financial-institutions-avoid-bitcoin-pending-regulation/">advised banks not to deal in virtual currency</a> until ordinance has been formed and in China it was <a href="http://www.wsj.com/articles/SB10001424052702304157204579475233879506454">deemed illegal for commercial banks</a> to trade in bitcoin (though <a href="http://www.bloomberg.com/news/articles/2013-12-05/china-s-pboc-bans-financial-companies-from-bitcoin-transactions">trading by individuals is still legal</a>).
    </div>
  </div>
</section>
