<section>
  <div class="row">
    <div class="col-sm-12 title">
      <h2><a target="_self" id="uses" href="#uses" data-text="Uses">How is it used?</a></h2>
    </div>
  </div>
  <div class="row details">
    <div class="col-sm-4">
      <div class="image"><span>USD</span><img src="/images/used/dollar.png"></div>
      <h3>Official currency of the USA, standard unit for global commodities</h3>
      The US dollar is the official currency of the USA and Ecuador, East Timor, El Salvador, the Marshall Islands, Micronesia, Palau, Turks and Caicos, the British Virgin Islands and Zimbabwe. It is also a standard unit of currency for global commodity markets like gold and <a href="http://www.investopedia.com/terms/p/petrodollars.asp">oil</a>.

      <h3>Reserve currency</h3>
      American businesses and households hold 15% of the currency. <a href="http://econbrowser.com/archives/2013/04/who_is_holding">The other 85% is unknown</a> but is likely held as offshore stockpiles and in international reserves. Countries who have unstable financial systems hold US dollars for use in international transactions and also use it to back their own system in the event of a crisis.

      The US dollar is the most used reserve currency. Others include the Euro, British Pound and Japanese Yen.
    </div>
    <div class="col-sm-4">
      <div class="image"><span>Gold</span><img src="/images/used/gold.png"></div>
      <h3>Investment vehicle, reserve, and to back a currency</h3>
      Gold is traded on the commodity market and is used as an investment.

      When gold is kept by a nation’s central bank reserve, it is used as collateral to guarantee debts.

      It can also be used to back a currency in a program called <a href="http://en.wikipedia.org/wiki/Gold_standard">the gold standard</a>. In this system, money is tied to a specific amount of gold and can be exchanged for it. While historically many countries (including the US) were on the gold standard, currently no country uses it.

      The US Treasury currently holds 261.5 million troy ounces of gold, valued at $434.6 billion.

      <h3>Physical forms</h3>
      Fifty percent of all gold in existence is used in jewelry. The rest is used in gold bars & coins (19%), used in central bank reserves (17%) and used in industrial products like cell phones (12%). Two percent is unaccounted for.
    </div>
    <div class="col-sm-4">
      <div class="image"><span>Bitcoin</span><img src="/images/used/bitcoin.png"></div>
      <h3>Alternative currency</h3>
      Bitcoin is used as a currency in places that accept it. Companies accepting bitcoins include Overstock.com, Expedia, Dell and OKCupid.

      <h3>Transaction and data infrastructure</h3>
      Companies have formed to use the blockchain infrastructure to secure transactions, certify contracts and exchange foreign currencies.

      <h3>Investment vehicle</h3>
      Bitcoin's price volatility makes it attractive to market traders looking to profit off of its highs and lows.
    </div>
  </div>
</section>
