<section>
  <div class="row">
    <div class="col-sm-12 title">
      <h2><a target="_self" id="verification" href="#verification" data-text="Verification">How is it verified?</a></h2>
    </div>
  </div>
  <div class="row details">
    <div class="col-sm-4">
      <div class="currency">USD<i style="background-image: url(images/advantages/dollar.png)"></i></div>
      <h3>Through serial numbers and individual bank ledgers</h3>
      All US dollars are <a href="http://en.wikipedia.org/wiki/Marked_bill">marked with serial numbers</a> which allow for it to be tracked. Dollars arrive to banks in sequential order. Banks suspecting illegal activity will further mark the bills with a highlighter or writing. Money flow to and from one's bank account is recorded in the ledger of that particular bank.
    </div>
    <div class="col-sm-4">
      <div class="currency">Gold<i style="background-image: url(images/advantages/gold.png)"></i></div>
      <h3><a href="http://en.wikipedia.org/wiki/London_bullion_market">The LBMA (London Bullion Market Association)</a></h3>
      One of the costs associated with owning gold is verifying authenticity through by testing for purity, called assaying. One way to get around this fee is to obtain it from a system that has already verified its chain of ownership.

      Physical gold that is bought and traded within the London Bullion Market is verified from refiner to dealer to owner and is stored gold in approved vaults. Gold stored at home or outside the chain must be re-assayed before it is let back into the system. This verification allows for expedited transactions.
    </div>
    <div class="col-sm-4">
      <div class="currency">Bitcoin<i style="background-image: url(images/advantages/bitcoin.png)"></i></div>
      <h3><a href="https://en.bitcoin.it/wiki/Blockchain">The Blockchain</a></h3>
      The blockchain verification log is the ledger which records all transactions in its system. Within it you can find <a href="https://blockchain.info/">every transaction that has ever been completed with the currency</a>.

      It is a collaborative log contributed to by independent miners who have downloaded the bitcoin software and use it to solve the math problems that encrypt transactions. Successful solving of transactions rewards the miners with new bitcoins. This infrastructure prevents fraud as many independent verifications are needed to approve transactions.
    </div>
  </div>
</section>
