<section>
  <div class="row">
    <div class="col-sm-12 title">
      <h2><a target="_self" id="what" href="#what">What is it?</a></h2>
    </div>
  </div>
  <div class="row details">
    <div class="col-sm-4">
      <div class="image"><span>USD</span><img src="/images/what/dollar.png"></div>
      <h3><a href="http://en.wikipedia.org/wiki/Fiat_money">Fiat currency</a></h3>
      This is a type of money created by a government whose value comes from declaration– fiat means "let it be done" in Latin. It is regulated by the government to ensure stability.

      <h3>Other Examples</h3>
      Euros (European Union), Pounds (UK), Francs (Switzerland), Yuans (China), Yen (Japan)
    </div>
    <div class="col-sm-4">
      <div class="image"><span>Gold</span><img src="/images/what/gold.png"></div>
      <h3><a href="http://en.wikipedia.org/wiki/Commodity_money">Commodity currency</a></h3>
      This type of money is useful in itself as well as as a currency. Gold is a material that used in many things from jewelry to technology. Market demand (if people are interested in buying and selling) drives its value.

      <h3>Other Examples</h3>
      silver, copper, salt, cigarettes, candy, barley
    </div>
    <div class="col-sm-4">
      <div class="image"><span>Bitcoin</span><img src="/images/what/bitcoin.png"></div>
      <h3><a href="http://en.wikipedia.org/wiki/Cryptocurrency">Cryptocurrency</a></h3>
      The newest type, this entirely <a href="http://en.wikipedia.org/wiki/Digital_currency">digital money</a> has transactions and quantities secured through cryptography. The value of the money is created through market demand.

      <h3>Other Examples</h3>
      Litecoin, Peercoin, Ripple, Zerocoin, Dogecoin
    </div>
  </div>
</section>
