<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-push-4 summary">
        <h2><a target="_self" id="about" href="#about">made for the money curious</a></h2>
        <p>The Currency Cheatsheet is a research project by <a href="http://eringallup.info">Erin Gallup</a> (ux/research) and <a href="http://jimmybyrum.com">Jimmy Byrum</a> (engineering) for <a href="http://000000014286.com/">The 0.000000014286%</a>.</p>
        <p>Feel free to share</p>
      </div>
      <div class="col-sm-4 col-sm-pull-4 images text-center">
        <a href="http://eringallup.info"><img width="75" height="75" class="img-circle" src="/images/footer/erin4.png" alt="Erin"></a>
        <a href="http://jimmybyrum.com"><img width="75" height="75" class="img-circle" src="/images/footer/jimmy.png" alt="Jimmy"></a>
      </div>
      <div class="col-sm-4 social">
        <ul class="list-unstyled list-inline">
          <li><a title="Facebook" href="https://www.facebook.com/sharer/sharer.php?u=http://currencycheatsheet.com"><i class="fa fa-facebook-square"></i></a></li>
          <li><a title="Twitter" href="https://twitter.com/home?status=The%20Currency%20Cheatsheet:%20Answers%20to%20questions%20about%20money%20old%20and%20new.%20http://currencycheatsheet.com"><i class="fa fa-twitter-square"></i></a></li>
          <li><a title="Pinterest" href="https://pinterest.com/pin/create/button/?url=http%3A%2F%2Fcurrencycheatsheet.com&media=http%3A%2F%2Fcurrencycheatsheet.com%2Fimages%2Fsocial%2Ffacebooksquare.png&description=The%20Currency%20Cheatsheet:%20Answers%20to%20questions%20about%20money%20old%20and%20new."><i class="fa fa-pinterest-square"></i></a></li>
          <li><a title="LinkedIn" href="https://www.linkedin.com/shareArticle?mini=true&url=http://currencycheatsheet.com&title=The%20Currency%20Cheatsheet"><i class="fa fa-linkedin-square"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
