<header class="clearfix">
  <div class="top">
    <div class="title">
      <em class="article">The</em> <h1><span>Currency</span> <em>Cheatsheet</em></h1>
    </div>
    <div class="icons">
      <div class="container">
        <div class="row">
          <div class="col-sm-2 col-xs-4 col-sm-offset-3">
            <img class="img-responsive" src="/images/header/top_dollar.png">
            <span>US Dollar</span>
          </div>
          <div class="col-sm-2 col-xs-4">
            <img class="img-responsive" src="/images/header/top_gold.png">
            <span>Gold</span>
          </div>
          <div class="col-sm-2 col-xs-4">
            <img class="img-responsive" src="/images/header/top_bitcoin.png">
            <span>Bitcoin</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav>
    <div class="container">
      <div class="row text-center">
        <div class="col-sm-12 tagline">Answers to questions about money old and new.</div>
      </div>
      <div class="row text-left nav nav-list nav-style"></div>
      <div class="row text-center about">
        <a target="_self" href="#about">about</a>
      </div>
    </div>
  </nav>
  <div class="container bookmark">
    <a href><img src="/images/header/bookmark.png"></a>
  </div>
</header>
