<!DOCTYPE HTML>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
<title>Currency Cheatsheet</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<link rel="icon" href="images/favicon/favicon-152.png" type="image/png">

<base target="_blank">

<meta property="og:type" content="article" />
<meta property="og:url" content="http://currencycheatsheet.com" />
<meta property="og:title" content="Currency Cheatsheet" />
<meta property="og:site_name" content="Currency Cheatsheet" />
<meta property="og:description" content="Learn about money." />
<meta property="og:image" content="http://currencycheatsheet.com/images/social/facebookbig.png" />

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Currency Cheatsheet">
<meta name="twitter:description" content="Learn about money.">
<meta name="twitter:image:src" content="http://currencycheatsheet.com/images/social/facebookbig.png">

<link rel="stylesheet" href="vendor/bootstrap.min.css">
<link rel="stylesheet" href="vendor/font-awesome.min.css">
<link href="app.css" rel="stylesheet" type="text/css">
</head>
<body>
